<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kasper | Template two</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="landing" id="home">
        <div class="overlay">
            <header>
                <div class="container">
                    <a href="#" class="logo"><img src="imgs/logo.png" alt="Logo"></a>
                    <nav>
                        <ul>
                            <li><a href="#home" class="active">Home</a></li>
                            <li><a href="#services">Services</a></li>
                            <li><a href="#portfolio">Portfolio</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#pricing">Pricing</a></li>
                            <li><a href="#contacts">Contacts</a></li>
                        </ul>
                        <div class="icons">
                            <i class="fa-solid fa-bars"></i>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </nav>
                </div>
            </header>
            <div class="content">
                <h2>Hello World!</h2>
                <h3>We are Kasper. We make Art.</h3>
                <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam. Accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
            </div>
            <i class="fa-solid fa-angle-left sliding"></i>
            <i class="fa-solid fa-angle-right sliding"></i>
            <ul class="bullets">
                <li><i class="fa-solid fa-circle"></i></li>
                <li><i class="fa-regular fa-circle"></i></li>
                <li><i class="fa-regular fa-circle"></i></li>
            </ul>
        </div>
    </div>
    <div class="services" id="services">
        <div class="container">
            <div class="heading">
                <h2>Services</h2>
                <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
            </div>
            <div class="cards">
                <div class="card">
                    <i class="fas fa-desktop fa-3x"></i>
                    <div class="card-info">
                        <h3>Vorem amet intuitive</h3>
                        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.</p>
                    </div>
                </div>
                <div class="card">
                    <i class="fas fa-cog fa-3x"></i>
                    <div class="card-info">
                        <h3>Vorem amet intuitive</h3>
                        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.</p>
                    </div>
                </div>
                <div class="card">
                    <i class="fas fa-pencil-ruler fa-3x"></i>
                    <div class="card-info">
                        <h3>Vorem amet intuitive</h3>
                        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.</p>
                    </div>
                </div>
                <div class="card">
                    <i class="fas fa-camera fa-3x"></i>
                    <div class="card-info">
                        <h3>Vorem amet intuitive</h3>
                        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="design">
        <div class="overlay">
            <div class="content">
                <div class="text">
                    <h2>Our design comes with...</h2>
                    <ul>
                        <li>Modern and clean design</li>
                        <li>Responsive design</li>
                        <li>Browser friendly</li>
                        <li>Clean code</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio" id="portfolio">
        <div class="container">
            <div class="heading">
                <h2>Portfolio</h2>
                <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
            </div>
            <ul class="shuffle">
                <li>All</li>
                <li>App</li>
                <li class="active">Photo</li>
                <li>Web</li>
                <li>Print</li>
            </ul>
        </div>
        <!-- <div class="images">
            <div class="image">
                <img src="imgs/shuffle-01.jpg" alt="">
                <div class="caption">
                    <span>Awesome Image</span>
                    <span>Photography</span>
                </div>
            </div>
            <div class="image">
                <img src="imgs/shuffle-02.jpg" alt="">
                <div class="caption">
                    <span>Awesome Image</span>
                    <span>Photography</span>
                </div>
            </div>
            <div class="image">
                <img src="imgs/shuffle-03.jpg" alt="">
                <div class="caption">
                    <span>Awesome Image</span>
                    <span>Photography</span>
                </div>
            </div>
            <div class="image">
                <img src="imgs/shuffle-04.jpg" alt="">
                <div class="caption">
                    <span>Awesome Image</span>
                    <span>Photography</span>
                </div>
            </div>
            <div class="image">
                <img src="imgs/shuffle-05.jpg" alt="">
                <div class="caption">
                    <span>Awesome Image</span>
                    <span>Photography</span>
                </div>
            </div>
            <div class="image">
                <img src="imgs/shuffle-06.jpg" alt="">
                <div class="caption">
                    <span>Awesome Image</span>
                    <span>Photography</span>
                </div>
            </div>
            <div class="image">
                <img src="imgs/shuffle-07.jpg" alt="">
                <div class="caption">
                    <span>Awesome Image</span>
                    <span>Photography</span>
                </div>
            </div>
            <div class="image">
                <img src="imgs/shuffle-08.jpg" alt="">
                <div class="caption">
                    <span>Awesome Image</span>
                    <span>Photography</span>
                </div>
            </div>
        </div> -->
        <a href="#portfolio">more</a>
    </div>
    <script src="js/main.js"></script>
</body>
</html>