<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kasper | Template two</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="landing" id="home">
        <div class="overlay">
            <header>
                <div class="container">
                    <a href="#" class="logo"><img src="imgs/logo.png" alt="Logo"></a>
                    <nav>
                        <ul>
                            <li><a href="#home" class="active">Home</a></li>
                            <li><a href="#services">Services</a></li>
                            <li><a href="#portfolio">Portfolio</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#pricing">Pricing</a></li>
                            <li><a href="#contacts">Contacts</a></li>
                        </ul>
                        <div class="icons">
                            <i class="fa-solid fa-bars"></i>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </nav>
                </div>
            </header>
            <div class="content">
                <h2>Hello World!</h2>
                <h3>We are Kasper. We make Art.</h3>
                <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam. Accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
            </div>
            <i class="fa-solid fa-angle-left sliding"></i>
            <i class="fa-solid fa-angle-right sliding"></i>
            <ul class="bullets">
                <li><i class="fa-solid fa-circle"></i></li>
                <li><i class="fa-regular fa-circle"></i></li>
                <li><i class="fa-regular fa-circle"></i></li>
            </ul>
        </div>
    </div>
    <div class="services" id="services">
        <div class="container">
            <div class="heading">
                <h2>Services</h2>
                <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
            </div>
            <div class="cards">
                <div class="card">
                    <i class="fas fa-desktop fa-3x"></i>
                    <div class="card-info">
                        <h3>Vorem amet intuitive</h3>
                        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.</p>
                    </div>
                </div>
                <div class="card">
                    <i class="fas fa-cog fa-3x"></i>
                    <div class="card-info">
                        <h3>Vorem amet intuitive</h3>
                        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.</p>
                    </div>
                </div>
                <div class="card">
                    <i class="fas fa-pencil-ruler fa-3x"></i>
                    <div class="card-info">
                        <h3>Vorem amet intuitive</h3>
                        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.</p>
                    </div>
                </div>
                <div class="card">
                    <i class="fas fa-camera fa-3x"></i>
                    <div class="card-info">
                        <h3>Vorem amet intuitive</h3>
                        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="design">
        <div class="overlay">
            <div class="content">
                <div class="text">
                    <h2>Our design comes with...</h2>
                    <ul>
                        <li>Modern and clean design</li>
                        <li>Responsive design</li>
                        <li>Browser friendly</li>
                        <li>Clean code</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio" id="portfolio">
        <div class="container">
            <div class="heading">
                <h2>Portfolio</h2>
                <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
            </div>
            <ul class="shuffle">
                <li>All</li>
                <li>App</li>
                <li class="active">Photo</li>
                <li>Web</li>
                <li>Print</li>
            </ul>
        </div>
        <div class="models">
            <div class="model">
                <div class="image">
                    <img src="imgs/shuffle-01.jpg" alt="photo1">
                </div>
                <div class="caption">
                    <span>Awesome Photo</span>
                    <span>Photography</span>
                </div>
            </div>
            <div class="model">
                <div class="image">
                    <img src="imgs/shuffle-02.jpg" alt="photo2">
                </div>
                <div class="caption">
                    <span>Awesome Photo</span>
                    <span>Photography</span>
                </div>
            </div>
            <div class="model">
                <div class="image">
                    <img src="imgs/shuffle-03.jpg" alt="photo3">
                </div>
                <div class="caption">
                    <span>Awesome Photo</span>
                    <span>Photography</span>
                </div>
            </div>
            <div class="model">
                <div class="image">
                    <img src="imgs/shuffle-04.jpg" alt="photo4">
                </div>
                <div class="caption">
                    <span>Awesome Photo</span>
                    <span>Photography</span>
                </div>
            </div>
            <div class="model">
                <div class="image">
                    <img src="imgs/shuffle-05.jpg" alt="photo5">
                </div>
                <div class="caption">
                    <span>Awesome Photo</span>
                    <span>Photography</span>
                </div>
            </div>
            <div class="model">
                <div class="image">
                    <img src="imgs/shuffle-06.jpg" alt="photo6">
                </div>
                <div class="caption">
                    <span>Awesome Photo</span>
                    <span>Photography</span>
                </div>
            </div>
            <div class="model">
                <div class="image">
                    <img src="imgs/shuffle-07.jpg" alt="photo7">
                </div>
                <div class="caption">
                    <span>Awesome Photo</span>
                    <span>Photography</span>
                </div>
            </div>
            <div class="model">
                <div class="image">
                    <img src="imgs/shuffle-08.jpg" alt="photo8">
                </div>
                <div class="caption">
                    <span>Awesome Photo</span>
                    <span>Photography</span>
                </div>
            </div>
        </div>
        <a href="#portfolio" class="btn">more</a>
    </div>
    <div class="separator">
        <div class="video">
            <video autoplay loop muted>
                <source src="imgs/awesome-video.mp4" type="video/mp4">
                Your browser doesn't support the video tag
            </video>
            <div class="content">
                <div class="text">
                    <h2>Super awesome video here</h2>
                    <p>it's all you need</p>
                    <a href="#portfolio" class="btn">see more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="about" id="about">
        <div class="container">
            <div class="heading">
                <h2>About us</h2>
                <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
            </div>
            <div class="rwd-fig">
                <img src="imgs/about.png" alt="rwd-fig">
            </div>
        </div>
        <div class="design">
            <div class="overlay">
                <div class="content">
                    <div class="text">
                        <div class="box">
                            <div class="icon">
                                <i class="fa-solid fa-mug-hot"></i>
                            </div>
                            <div class="quantity">1,236</div>
                            <p>Coffee Drinks</p>
                        </div>
                        <div class="box">
                            <div class="icon">
                                <i><i class="fa-solid fa-folder"></i></i>
                            </div>
                            <div class="quantity">256</div>
                            <p>Completed Projects</p>
                        </div>
                        <div class="box">
                            <div class="icon">
                                <i class="fa-solid fa-envelope"></i>
                            </div>
                            <div class="quantity">1,743</div>
                            <p>Mail Sent</p>
                        </div>
                        <div class="box">
                            <div class="icon">
                                <i class="fa-solid fa-trophy"></i>
                            </div>
                            <div class="quantity">17</div>
                            <p>Awards Received</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="testmonials">
                <div class="heading">
                    <h3>testmonials</h3>
                    <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                </div>
                <div class="clients">
                    <div class="client">
                        <div class="avatar">
                            <img src="imgs/clients-01.jpg" alt="client1">
                        </div>
                        <div class="comment">
                            <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                            <div class="signature">John Doe, CEO</div>
                            <hr>
                        </div>
                    </div>
                    <div class="client">
                        <div class="avatar">
                            <img src="imgs/clients-02.jpg" alt="client2">
                        </div>
                        <div class="comment">
                            <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                            <div class="signature">John Doe, CEO</div>
                            <hr>
                        </div>
                    </div>
                </div>
                <ul class="bullets">
                    <li><i class="fa-solid fa-circle"></i></li>
                    <li><i class="fa-regular fa-circle"></i></li>
                    <li><i class="fa-regular fa-circle"></i></li>
                </ul>
            </div>
            <div class="skills">
                <div class="heading">
                    <h3>Skills</h3>
                    <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                </div>
                <div class="skill">
                    <span>adobe</span>
                    <div class="progress" data-skill="adobe" data-percentage="90%"></div>
                </div>
                <div class="skill">
                    <span>html & css</span>
                    <div class="progress" data-skill="html" data-percentage="85%"></div>
                </div>
                <div class="skill">
                    <span>javascript</span>
                    <div class="progress" data-skill="js" data-percentage="80%"></div>
                </div>
                <div class="skill">
                    <span>php</span>
                    <div class="progress" data-skill="php" data-percentage="90%"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>