/************ My Framework ************/
* {
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    margin: 0;
    overflow: hidden;
}
:root {
    --main-color: #2196f3;
}
body {
    scroll-behavior: smooth;
    margin: 0;
}
.container {
    /* padding: 0 20px; */
    margin: 0 auto;
}
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1120px;
    }
}
@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}
.ul-reset {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}

/************ Header ************/
header {
    box-shadow: 0 0 10px #ddd;
}
header .container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
@media (min-width: 768px) {
    header .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }
}
header a.logo {
    font-size: 28px;
    font-weight: 700;
    color: var(--main-color);
}
ul.main-nav {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
}
@media (max-width: 767px) {
    ul.main-nav {
        width: 100%;
    }
}
.main-nav>li {
    padding: 0 20px;
}
@media (min-width: 500px) {
    ul.main-nav {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
ul.main-nav>li {
    position: relative;
}
.main-nav>li::before, 
.main-nav>li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    background-color: var(--main-color);
    transform: translateX(-150%);
    transition: transform 0.3s linear 0s;
}
.main-nav>li::before {
    top: 0;
    transform: translateX(-150%);
}
.main-nav>li::after {
    bottom: 0;
    transform: translateX(150%);
}
.main-nav>li:hover::before, 
.main-nav>li:hover::after {
    transform: translateX(0);
}
.main-nav>li>a {
    font-weight: 700;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-nav>li>a:hover {
    color: var(--main-color);
}
header a.logo, 
.main-nav>li>a {
    height: 50px;
    display: flex;
    align-items: center;
}
@media (min-width: 768px) {
    header a.logo, 
    .main-nav>li>a {
        height: 80px;
    }
}
.mega-menu {
    width: 100%;
    position: absolute;
    top: 150px;
    left: 0;
    padding: 20px;
    display: none; /* block - js */
}
.mega-menu .image {
    display: none;
}
@media (min-width: 500px) {
    .mega-menu {
        top: 100px;
    }
}
@media (min-width: 768px) {
    .mega-menu {
        top: 80px;
        display: none; /* grid - js */
        grid-template-columns: 1fr auto;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .mega-menu .image {
        display: block;
        width: 400px;
        align-self: center;
    }

}
.mega-menu ul.sub-nav {
    display: grid;
    grid-template-columns: 1fr;
}
@media (min-width: 992px) {
    .mega-menu ul.sub-nav {
        grid-template-columns: 1fr 1fr;
    }
    .mega-menu .image {
        align-self: flex-start;
    }
}
.mega-menu ul.sub-nav li {
    padding: 5px 0;
    border-bottom: 1px solid #e9e6e6;
}
.mega-menu ul.sub-nav li i {
    color: var(--main-color);
    margin-right: 10px;
}
.mega-menu ul.sub-nav li a {
    font-weight: 700;
    color: var(--main-color);
}


/************ Landing ************/
.landing {
    height: calc(100vh - 150px);
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    position: relative;
}
@media (min-width: 500px) {
    .landing {
        height: calc(100vh - 100px);
    }
}
@media (min-width: 768px) {
    .landing {
        height: calc(100vh - 80px);
    }
}
.landing .description {
    text-align: center;
}
.landing h2 {
    word-spacing: 5px;
    letter-spacing: -1px;
}
.landing p {
    color: #666;
    line-height: 1.2;
}
.landing::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 500px solid transparent;
    border-bottom: 50px solid #fff;
    border-right: 500px solid #fff;
    background-color: #ececec;
    z-index: 12;
}
@media (min-width: 768px) {
    .landing::after {
        border-left: 1000px solid transparent;
        border-right: 1000px solid #fff;
    }
}
@media (min-width: 992px) {
    .landing::after {
        border-left-width: 1500px;
        border-right-width: 1500px;
    }
}
@media (min-width: 1400px) {
    .landing::after {
        border-left-width: 2000px;
        border-right-width: 2000px;
    }
}
.landing .image {
    display: none;
}
@media (min-width: 992px) {
    .landing {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
    .landing .description {
        text-align: left;
        flex-basis: 40%;
    }
    .landing .image {
        display: block;
        width: 500px;
        animation: vertical-motion 5s linear 0s infinite;
    }
}
@keyframes vertical-motion {
    0%, 50%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-30px);
    }
    75% {
        transform: translateY(30px);
    }
}
a.down {
    color: var(--main-color);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    animation: up-down 2s ease 0s infinite;
    z-index: 1212;
}
@keyframes up-down {
    20%, 60%, 80%, 100% {
        transform: translate(-50%, 0);
    }
    40%, 70%, 90% {
        transform: translate(-50%, -50%);
    }
}


/************ Features ************/


/* @media (min-width: 576px) {
    
}
@media (min-width: 768px) {
    
}
@media (min-width: 992px) {
    
}
@media (min-width: 1200px) {
    
}
@media (min-width: 1400px) {
    
} */