$num: 2;
$start: 100;

@function double($size) {
    @return $size * $num;
}

@for $i from 1 through 5 {
    .box-#{$start}{
        width: #{$start}px;
        height: #{double($start)}px;
    }
    $start: $start * 2;
}