.ass2 {
    width: 400px;
    margin: 0 auto;
    background-color: #eee !important;
    border: none !important;
    font-size: 0 !important;
    text-align: center;
}

.ass2::after {
    content: "Elzero";
    color: #000 !important;
    font-size: 20px !important;
}

:root {
    --mainColor: #009688;
    --mainPadding: 10px;
}

.ass3 {
    padding: var(--mainPadding, 10px);
    border: 2px solid var(--mainColor, #000);
    margin: var(--mainPadding, 10px);
    color: var(--mainColor, #f00);
}