* {
    box-sizing: border-box;
}

:root {
    --childsBgColor: #ddd;
    --pad: 2%;
}

.page {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.header {
    flex-basis: 10%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.logo {
    background-color: var(--childsBgColor);
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    background-color: var(--childsBgColor);
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 84%;
    justify-content: flex-end;
    align-items: center;
}

li {
    flex-basis: 10%;
    display: flex;
    justify-content: space-around;
}

.main-area {
    flex-basis: 70%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.content {
    background-color: var(--childsBgColor);
    flex-basis: 64%;
    padding: var(--pad);
}

.sidebar {
    background-color: var(--childsBgColor);
    flex-basis: 30%;
    padding: var(--pad);
}

.footer {
    flex-basis: 8%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.copyright {
    flex-basis: 48%;
    background-color: var(--childsBgColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: var(--pad);
}

.design {
    flex-basis: 48%;
    background-color: var(--childsBgColor);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: var(--pad);
}