@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Global */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}
:root {
    --main-color: #19c8fa;
    --secondary-color: #777;
    --adobe: 90%;
    --html: 85%;
    --js: 80%;
    --php: 90%;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
}
h2 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 28px;
}
img {
    width: 100%;
}
input, textarea {
    outline: none;
}
.overlay {
    background-color: #0009;
    height: 100%;
    position: relative;
}
.container {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.content {
    width: 100%;
    position: absolute;
    bottom: 50%;
    transform: translate(0, 50%);
    background-color: rgba(25, 201, 250, 0.4);
    padding: 30px 5vw;
    color: #eee;
}
.services, .portfolio, .about, .pricing, .contacts {
    padding: 100px 0;
}
.heading {
    text-align: center;
    margin-bottom: 60px;
}
.heading h2 {
    font-size: 36px;
    margin-bottom: 50px;
    position: relative;
}
.heading h2::before {
    content: '';
    width: 120px;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 50%);
}
.heading h2::after {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, 50%);
    border: 2px solid #000;
}
.heading p {
    color: var(--secondary-color);
    line-height: 1.8;
}
.btn {
    display: block;
    width: fit-content;
    background-color: var(--main-color);
    color: #eee;
    text-transform: uppercase;
    padding: 15px;
    margin: 0 auto;
}


/* Home */
/* Background */
.landing {
    background-color: black; /* temp */
    background-image: url(../imgs/landing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.landing .overlay {
    height: 100vh;
}
/* Header */
header .container {
    flex-direction: row;
    position: relative;
}
header nav {
    display: flex;
}
header .icons {
    display: flex;
    align-items: center;
}
header .icons i {
    color: #eee;
    font-size: 20px;
    padding: 0 10px;
}
header .icons i:last-child {
    padding-right: 0;
    border-left: 2px solid ;
    margin-left: 10px;
}
header .icons i:hover {
    cursor: pointer;
}
header a>img {
    margin: 30px 0;
}
header ul a {
    color: #eee;
    border-bottom: 1px solid transparent;
}
header ul a:hover, header ul a.active {
    color: var(--main-color);
    position: relative;
}
header ul a:hover::after, header ul a.active::after {
    content: '';
    background-color: var(--main-color);
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: 1;
}
header .container::after {
    content: "";
    position: absolute;
    bottom: 1px;
    width: 80vw;
    height: 1px;
    background-color: #eee;
    z-index: 0;
}
/* Landing */
.landing .content h3 {
    margin: 20px 0 15px;
    font-size: 22px;
    font-weight: normal;
}
.landing .content p {
    line-height: 1.5;
}
/* Slider */
.sliding {
    position: absolute;
    bottom: 50%;
    transform: translate(0, 50%);
    z-index: 1212;
    font-weight: 800;
    cursor: pointer;
    color: #eee;
}
.fa-angle-left {
    left: 2vw;
}
.fa-angle-right {
    right: 2vw;
}
.sliding:hover::after {
    content: '';
    background-color: rgba(255, 255, 255, 0.25);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
    transform: scale(1.5);
}
.bullets {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}
.bullets i {
    padding: 5px;
    color: var(--main-color);
    cursor: pointer;
}


/* Services */
.services .cards {
    display: grid;
    gap: 50px 60px;
}
.services .card {
    text-align: center;
}
.services .card i {
    margin-bottom: 20px;
}
.services .card h3 {
    color: var(--main-color);
}
.services .card p {
    margin-top: 15px;
    color: var(--secondary-color);
    line-height: 1.8;
}


/* Separator1 - design */
.design, .footer {
    background-color: black; /* temp */
    background-image: url(../imgs/design-features.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
}
.design .content {
    padding-top: 30px 0;
}
.design ul li {
    padding: 30px 0 0 30px;
    position: relative;
}
.design ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    position: absolute;
    left: 0;
    bottom: 1px;
}


/* Portfolio */
.shuffle {
    display: flex;
}
.shuffle li {
    padding: 10px;
    margin: 0 5px;
}
.shuffle li:hover, .shuffle li.active {
    cursor: pointer;
    color: #eee;
    background-color: var(--main-color);
}
/* models */
.portfolio .models {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px 10px;
}
.portfolio .model {
    position: relative;
    overflow: hidden;
}
.portfolio .model .image img {
    width: 100%;
    transition: transform 0.3s;
}
.portfolio .model .caption {
    width: 100%;
    min-height: 15%;
    position: absolute;
    bottom: -200px;
    left: 0;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 1.5;
    transition: bottom 0.3s;
}
.portfolio .model .caption span:last-child {
    font-weight: 700;
    color: var(--main-color);
}
.portfolio .model:hover .image img {
    transform: scale(1.2) rotate(5deg);
}
.portfolio .model:hover .caption{
    bottom: 0;
}


/* separator2 - video */
.separator .video {
    position: relative;
}
.separator .video video {
    width: 100%;
}
.separator .video::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0009;
}
.separator .content {
    text-align: center;
}
.separator .text p {
    margin: 20px 0 30px;
}
.separator a.btn {
    background-color: #000;
}


/* About */
.about {
    padding-bottom: 0;
}
.about .rwd-fig {
    overflow: hidden;
}
.about .rwd-fig img {
    margin-bottom: -80px;
}
/* separator3 - design */
.about .design {
    background-image: url('../imgs/stats.png');
}
.about .design .overlay {
    background-color: #000b;
}
.about .design .text {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0;
}
.box .icon {
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box .quantity {
    font-size: 2em;
    margin: 10px 0;
}
/* testmonials */
.heading h3 {
    text-transform: uppercase;
    padding-bottom: 30px;
}
.testmonials, .skills {
    position: relative;
    padding: 70px 0 50px;
}
.client {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 20px;
    gap: 20px;
}
.avatar {
    margin-top: -10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    justify-self: center;
}
.signature {
    margin: 10px 0;
    text-align: end;
    color: #777;
    font-weight: 700;
}
/* skills */
.skill {
    margin-bottom: 40px;
}
.skill>span {
    display: block;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;
}
.progress {
    height: 35px;
    position: relative;
}
.progress::before {
    content: "";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #000;
    position: absolute;
    top: -10px;
    transform: translate(-50%);
}
.progress::after {
    content: attr(data-percentage);
    background-color: #000;
    color: #eee;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -40px;
    transform: translate(-50%);
}
.progress[data-skill="adobe"] {
    background-image: linear-gradient(
        to right, 
        var(--main-color) var(--adobe), 
        #dedadc var(--adobe)
    );
}
.progress[data-skill="adobe"]::before, 
.progress[data-skill="adobe"]::after {
    left: var(--adobe);
}
.progress[data-skill="html"] {
    background-image: linear-gradient(
        to right, 
        var(--main-color) var(--html), 
        #dedadc var(--html)
    );
}
.progress[data-skill="html"]::before, 
.progress[data-skill="html"]::after {
    left: var(--html);
}
.progress[data-skill="js"] {
    background-image: linear-gradient(
        to right, 
        var(--main-color) var(--js), 
        #dedadc var(--js)
    );
}
.progress[data-skill="js"]::before, 
.progress[data-skill="js"]::after {
    left: var(--js);
}
.progress[data-skill="php"] {
    background-image: linear-gradient(
        to right, 
        var(--main-color) var(--php), 
        #dedadc var(--php)
    );
}
.progress[data-skill="php"]::before, 
.progress[data-skill="php"]::after {
    left: var(--php);
}


/* separator4 - design */
.about + .design {
    background-image: url(../imgs/quote.jpg);
}
/* separator4 - design */
.about + .design .overlay, 
.pricing + .design .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
    background-color: #000b;
}
.about + .design q {
    font-size: 28px;
    color: #eee;
}
.about + .design .signature {
    font-size: 20px;
    color: #eee;
    align-self: flex-end;
}


/* Pricing */
/* plans */
.pricing .plans {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 50px 30px;
    justify-content: center;
}
.pricing .plans .plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    padding-top: 30px;
}
.pricing .plans .plan::before, 
.pricing .plan ul.features + div::after, 
.pricing .plan ul.features::before, 
.pricing .plan .features li::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
    position: absolute;
    left: 0;
}
.pricing .plans .plan::before, 
.pricing .plan ul.features::before {
    top: 0;
}
.pricing .plan .title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}
.pricing .plan .price {
    font-size: 50px;
    font-weight: 900;
    margin: 20px 0;
    position: relative;
}
.pricing .plan .price::before {
    content: '$';
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    top: 0;
    left: 0;
    transform: translate(-200%, -50%);
}
.pricing .plan .price::after {
    content: '/Month';
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    bottom: 0;
    right: 0;
    transform: translate(120%);
}
.pricing .plan ul.features {
    padding: 20px 0;
    width: 100%;
    position: relative;
}
.pricing .plan ul.features + div::after, 
.pricing .plan .features li::after {
    bottom: 0;
}
.pricing .plan .features li {
    width: 100%;
    position: relative;
    padding: 15px 0;
}
.pricing .plan .features li::after {
    left: 50%;
    width: 130px;
    transform: translate(-50%);
}
.pricing .plan .features + div {
    width: 100%;
    padding-bottom: 20px;
    position: relative;
}
.pricing .plan a.btn {
    margin: 10px 0;
    border: 1px solid var(--main-color);
    transition: all 0.3s;
}
.pricing .plan a.btn:hover {
    background-color: #fff;
    color: #000;
}
/* redirection to contacts */
.pricing .plans + div {
    font-weight: 600;
    padding: 50px 0 20px;
}


/* separator5 - design */
.pricing + .design, .footer {
    background-image: url(../imgs/subscribe.jpg);
    background-position: left;
}
.pricing + .design form {
    width: 100%;
    position: relative;
}
.pricing + .design form i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
    color: #fff;
}
.pricing + .design form input[type="email"] {
    outline: none;
    border: 1px solid #fff;
    border-right: none;
    width: calc(100% - 120px);
    padding: 20px 0 20px 50px;
    background: none;
    caret-color: var(--main-color);
    color: #fff;
}
.pricing + .design form input[type="email"]::placeholder {
    color: #fff;
}
.pricing + .design form input[type="submit"] {
    position: absolute;
    width: 120px;
    height: 100%;
    background-color: var(--main-color);
    color: white;
    border: 1px solid white;
    border-left: none;
    text-transform: uppercase;
    font-size: 1em;
}
.pricing + .design p {
    color: #fff;
    margin-top: 50px;
    font-size: 1.4em;
    line-height: 1.5;
}


/* Contacts */
/* Form */
.contacts .form-info {
    width: 100%;
    display: grid;
}
.contacts form {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    margin: 10px;
}
.contacts form input, 
.contacts form textarea {
    padding: 20px;
    margin-bottom: 20px;
}
.contacts form input[type="text"], 
.contacts form input[type="email"] {
    width: 100%;
}
.contacts form input[type="submit"]{
    align-self: flex-end;
    background-color: var(--main-color);
    color: white;
    border: none;
    text-transform: uppercase;
    margin: 20px 0;
}
/* contact-info */
.contacts .contact-info {
    order: -1;
}
.contacts .contact-info, 
.contacts .contact-info .address, 
.contacts .contact-info .phone-nums {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.contacts .contact-info h3 {
    text-transform: uppercase;
    font-weight: 400;
    padding: 10px 0;
}
.contacts .contact-info address, 
.contacts .contact-info a {
    color: var(--secondary-color);
}


/* Footer */
.footer .overlay {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #eee;
}
.footer img {
    display: block;
    width: 120px;
}
/* Social icons */
.social {
    width: 200px;
    text-align: center;
    margin: 30px 0;
}
.footer .social h3 {
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: 400;
}
.footer .social-icons {
    padding: 30px 0;
}
.footer .social-icons i {
    margin-right: 20px;
    transition: background-color 0.3s;
}
.footer .social-icons i:last-of-type {
    margin-right: 0;
}
/* copyrights */
.footer .copyrights span {
    color: var(--main-color);
    font-weight: 600;
}


/* RWD */
@media (max-width: 500px) {
    .separator .content h2, .separator .content p {
        display: none;
    }
    .about .rwd-fig img {
        margin-bottom: -35px;
    }
    .about .design {
        height: 900px;
    }
    .about .design .text {
        flex-flow: column nowrap;
    }
    .box {
        margin: 30px 0;
    }
}
@media (max-width: 799px) {
    header ul {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(0, 100%);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }
    header ul li {
        width: 80vw;
    }
    header ul a {
        display: block;
        width: 100%;
        padding: 15px 5px;
        transition: padding-left 0.3s;
    }
    header ul a.active, header ul a:hover {
        padding-left: 20px;
    }
    .overlay>i {
        display: none;
    }
    .box {
        flex-basis: 46%;
    }
}
@media (min-width: 800px) {
    header .icons i:first-child {
        display: none;
    }
    header ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    header ul li {
        height: 100px;
    }
    header ul a {
        height: 99px;
        display: flex;
        align-items: center;
        padding: 10px;
    }
    .content {
        width: 55vw;
    }
    .services .cards {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
    .services .card {
        text-align: left;
        display: flex;
    }
    .services .card i {
        margin-right: 40px;
    }
    .design .content {
        left: 50%;
        transform: translate(-50%, 50%);
    }
    .separator .content {
        width: 100%;
    }
    .about .design .content {
        width: 100%;
    }
    .client {
        grid-template-columns: auto 1fr;
        grid-template-rows: calc(1fr + 20px);
        align-items: flex-start;
    }
    .contacts .form-info {
        grid-template-columns: 1fr auto;
        gap: 30px;
    }
    .contacts .contact-info {
        order: 1;
    }
    .contacts .contact-info, 
    .contacts .contact-info .address, 
    .contacts .contact-info .phone-nums {
        align-items: flex-start;
        justify-content: flex-start;
    }
    .contacts .contact-info h3 {
        padding: 0;
        padding-bottom: 20px;
    }
}
@media (min-width: 1000px) {
    .about .container:last-of-type {
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content: space-between;
        align-items: flex-start;
    }
}