@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  color: #333;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #0075ff;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 25px;
  padding: 10px;
}

.navbar a:nth-child(2):hover {
  border-radius: 10px;
  background-color: #0075ff;
  color: #f2f2f2;
}

.navbar a:hover {
  color: #0075ff;
}

.home, .create, .blog-details, .error404 {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview h2 {
  font-size: 20px;
  color: #0075ff;
  margin-bottom: 8px;
}

article>p {
  margin-bottom: 10px;
}

.create {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create h2 {
  color: #0075ff;
}

.create form {
  margin: 20px 0;
  font-size: 18px;
}

.title-field,
.body-field,
.author-field {
  margin: 20px 0;
}

label {
  margin-right: 20px;
}

.title-field input {
  width: 250px;
}

.body-field textarea {
  display: block;
  margin: 10px 0;
}

form button, .blog-details button {
  margin: 10px 0;
  font-size: 16px;
  float: right;
  border: none;
  padding: 5px;
  border-radius: 10px;
  width: 100px;
}

form button:hover, .blog-details button:hover {
  background-color: #0075ff;
  color: #fafafa;
  cursor: pointer;
}

.error404 a {
  display: block;
  width: 180px;
  padding: 10px;
  background-color: #fafafa;
  margin: 10px 0;
  text-align: center;
  border-radius: 10px;
}

.error404 a:hover {
  color: #fafafa;
  background-color: #0075ff;
}