@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --main-color: #10cab7;
    --line-height: 1.5;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

.container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: 60px;
}

.head .links {
    position: relative;
}

.head .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.head .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
    width: 100%;
}

.head .links .icon span:nth-child(2) {
    width: 60%;
    transition: width 0.3s ease 0.15s;
}

.head .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.head .links ul {
    margin: 0;
    list-style: none;
    padding: 0;
    background-color: #fcfcfc;
    position: absolute;
    right: 0;
    width: 150px;
    display: none;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 1px;
    transition: 0.5s;
}

.head .links ul::before {
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom: 10px solid #acacac;
    margin-left: 120px;
    margin-bottom: -1px;
}


.head .links ul li {
    background-color: #acacac;
}

.head .links a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.head .links a:hover {
    padding-left: 25px;
}

.head .links:hover ul {
    display: grid;
}

.landing {
    background-image: url(../imgs/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
    max-width: 100%;
    color: var(--main-color);
    margin-bottom: 15px;
}

.landing p {
    width: 50%;
    line-height: var(--line-height);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.features .card {
    flex-basis: 100%;
    padding: 20px 0;
    display: grid;
    justify-items: center;
    gap: 20px;
}

i {
    color: var(--main-color);
    font-size: 50px;
}

.features .card h3 {
    font-weight: 800;
}

.features .card p {
    text-align: center;
    line-height: var(--line-height);
}



@media (min-width: 768px) {
    .container {
        width: 750px;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
        margin: 0 auto;
    }
}