<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leon | Template one</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="head">
        <div class="container">
            <img src="imgs/logo.png" alt="logo" class="logo">
            <div class="links">
                <span class="icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <ul>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contacts">Contacts</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="landing">
        <h1>Hello There</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda iste tempora accusantium magni voluptatum.</p>
    </div>
    <div class="features">
        <div class="container">
            <div class="card">
                <i class="fa-solid fa-bolt"></i>
                <h3>Tell us your idea</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore quidem amet quas commodi quo eligendi sit. Amet, ea eaque id quae quod exercitationem porro est veritatis animi accusamus cum laudantium?</p>
            </div>
            <div class="card">
                <i class="fa-solid fa-handshake"></i>
                <h3>Designed from a PSD</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore quidem amet quas commodi quo eligendi sit. Amet, ea eaque id quae quod exercitationem porro est veritatis animi accusamus cum laudantium?</p>
            </div>
            <div class="card">
                <i class="fa-solid fa-fire"></i>
                <h3>Enjoy Coding</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore quidem amet quas commodi quo eligendi sit. Amet, ea eaque id quae quod exercitationem porro est veritatis animi accusamus cum laudantium?</p>
            </div>
        </div>
    </div>
    <section class="services" id="services">
        <div class="container">
            <div class="special-heading">
                <h2>Services</h2>
                <p>Don't be busy. Be Productive!</p>
            </div>
            <div class="content">
                <div class="cards">
                    <div class="card">
                        <i class="fa-solid fa-vector-square"></i>
                        <h3>Web Design</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam incidunt deleniti, vitae odit totam facilis ex sapiente nulla, et explicabo eius suscipit minus id fuga temporibus. Molestiae ullam nostrum temporibus.</p>
                    </div>
                    <div class="card">
                        <i class="fa-regular fa-file-code"></i>
                        <h3>Front-End Web Development</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam incidunt deleniti, vitae odit totam facilis ex sapiente nulla, et explicabo eius suscipit minus id fuga temporibus. Molestiae ullam nostrum temporibus.</p>
                    </div>
                    <div class="card">
                        <i class="fa-brands fa-wordpress"></i>
                        <h3>WordPress Development</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam incidunt deleniti, vitae odit totam facilis ex sapiente nulla, et explicabo eius suscipit minus id fuga temporibus. Molestiae ullam nostrum temporibus.</p>
                    </div>
                    <div class="card">
                        <i class="fa-solid fa-diagram-project"></i>
                        <h3>Web APIs Development</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam incidunt deleniti, vitae odit totam facilis ex sapiente nulla, et explicabo eius suscipit minus id fuga temporibus. Molestiae ullam nostrum temporibus.</p>
                    </div>
                </div>
                <div class="image"><img src="imgs/services.jpg" alt="image"></div>
            </div>
        </div>
    </section>
</body>
</html>