<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template one</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="head">
        <div class="container">
            <img src="imgs/logo.png" alt="logo" class="logo">
            <div class="links">
                <span class="icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <ul>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contacts">Contacts</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>