<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leon | Template one</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="head">
        <div class="container">
            <img src="imgs/logo.png" alt="logo" class="logo">
            <div class="links">
                <span class="icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <ul>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contacts">Contacts</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="landing">
        <h1>Hello There</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
    </div>
    <div class="features">
        <div class="container">
            <div class="cards">
                <div class="card">
                    <i class="fa-solid fa-bolt"></i>
                    <h3>Tell us your idea</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore quidem amet quas commodi quo eligendi sit. Amet, ea eaque id quae quod exercitationem porro est veritatis animi accusamus cum laudantium?</p>
                </div>
                <div class="card">
                    <i class="fa-solid fa-handshake"></i>
                    <h3>Designed from a PSD</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore quidem amet quas commodi quo eligendi sit. Amet, ea eaque id quae quod exercitationem porro est veritatis animi accusamus cum laudantium?</p>
                </div>
                <div class="card">
                    <i class="fa-solid fa-fire"></i>
                    <h3>Enjoy Coding</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore quidem amet quas commodi quo eligendi sit. Amet, ea eaque id quae quod exercitationem porro est veritatis animi accusamus cum laudantium?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="services" id="services">
        <div class="container">
            <div class="special-heading">
                <h2>services</h2>
                <p>Don't be busy. Be Productive!</p>
            </div>
            <div class="content">
                <div class="cards">
                    <div class="card">
                        <i class="fa-solid fa-vector-square"></i>
                        <h3>Web Design</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam incidunt deleniti, vitae odit totam facilis ex sapiente nulla, et explicabo eius suscipit minus id fuga temporibus. Molestiae ullam nostrum temporibus.</p>
                    </div>
                    <div class="card">
                        <i class="fa-regular fa-file-code"></i>
                        <h3>Front-End Web Development</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam incidunt deleniti, vitae odit totam facilis ex sapiente nulla, et explicabo eius suscipit minus id fuga temporibus. Molestiae ullam nostrum temporibus.</p>
                    </div>
                    <div class="card">
                        <i class="fa-brands fa-wordpress"></i>
                        <h3>WordPress Development</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam incidunt deleniti, vitae odit totam facilis ex sapiente nulla, et explicabo eius suscipit minus id fuga temporibus. Molestiae ullam nostrum temporibus.</p>
                    </div>
                    <div class="card">
                        <i class="fa-solid fa-diagram-project"></i>
                        <h3>Web APIs Development</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam incidunt deleniti, vitae odit totam facilis ex sapiente nulla, et explicabo eius suscipit minus id fuga temporibus. Molestiae ullam nostrum temporibus.</p>
                    </div>
                </div>
                <div class="image"><img src="imgs/services.jpg" alt="photo"></div>
            </div>
        </div>
    </div>
    <div class="portfolio" id="portfolio">
        <div class="container">
            <div class="special-heading">
                <h2>portfolio</h2>
                <p>If you do it right, It will last forever</p>
            </div>
            <div class="content">
                <div class="cards">
                    <div class="card">
                        <img src="imgs/portfolio-1.jpg" alt="project1">
                        <div class="info">
                            <h3>Project1</h3>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum explicabo velit, ea facere vero maiores ad blanditiis vitae fugiat est obcaecati exercitationem aliquid accusantium omnis incidunt similique sit quis sint?</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="imgs/portfolio-2.jpg" alt="project2">
                        <div class="info">
                            <h3>Project2</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum nemo vel consequatur dignissimos! Cum ducimus impedit debitis et cumque quis est totam dignissimos, ex, ab odit nihil fugit officia dolores.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="imgs/portfolio-3.jpg" alt="project3">
                        <div class="info">
                            <h3>Project3</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis dolore id in voluptatem incidunt fugit! Unde vitae minus quaerat, ratione inventore ut quisquam quas cumque animi. Iusto tempora consectetur veritatis.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about" id="about">
        <div class="container">
            <div class="special-heading">
                <h2>about</h2>
                <p>Less is more work</p>
            </div>
            <div class="content">
                <div class="image">
                    <img src="imgs/about.jpg" alt="">
                </div>
                <div class="info">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia aliquam temporibus corrupti nostrum, enim aspernatur quae. Aspernatur, voluptatibus rem. Illo magni est maiores cum laudantium beatae sint, similique atque sapiente?</p>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia aliquam temporibus corrupti nostrum, enim aspernatur quae. Aspernatur, voluptatibus rem. Illo magni est maiores cum laudantium beatae sint, similique atque sapiente?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="contacts" id="contacts">
        <div class="container">
            <div class="special-heading">
                <h2>contacts</h2>
                <p>We are born to create</p>
            </div>
            <div class="content">
                <p>Feel free to drop us a line at:</p>
                <a href="mailto:leonagency@mail.com?subject=contact" class="mail">leonagency@mail.com</a>
                <div class="social">
                    Find us on social networks
                    <i class="fab fa-youtube"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="foot">
        <div class="copyright">
            &copy; 2023 <span>Leon</span> All Right Reserved
        </div>
    </div>
</body>
</html>