<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet">
    <title>Elzero | Template three</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <a href="#" class="logo">
                <span>E</span>
                <span>l</span>
                <span>z</span>
                <span>e</span>
                <span>r</span>
                <span>o</span>
            </a>
            <ul class="ul-reset main-nav">
                <li><a href="#articles">Articles</a></li>
                <li><a href="#gallery">Gallery</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href=""><i class="fa-solid fa-ellipsis"></i></a></li>
            </ul>
            <div class="mega-menu">
                <div class="image">
                    <img src="imgs/megamenu.png" alt="">
                </div>
                <ul class="ul-reset sub-nav">
                    <li><i class="far fa-comments fa-fw"></i><a href="#testimonials">Testimonials</a></li>
                    <li><i class="far fa-user fa-fw"></i><a href="#members">Team Members</a></li>
                    <li><i class="far fa-building fa-fw"></i><a href="#services">Services</a></li>
                    <li><i class="far fa-check-circle fa-fw"></i><a href="#skills">Our Skills</a></li>
                    <li><i class="far fa-clipboard fa-fw"></i><a href="#how">How it works ?</a></li>
                    <li><i class="far fa-calendar-alt fa-fw"></i><a href="#events">Latest Events</a></li>
                    <li><i class="fas fa-server fa-fw"></i><a href="#pricing">Pricing Plans</a></li>
                    <li><i class="far fa-play-circle fa-fw"></i><a href="#videos">Top Videos</a></li>
                    <li><i class="far fa-chart-bar fa-fw"></i><a href="#stats">Stats</a></li>
                    <li><i class="fas fa-percent fa-fw"></i><a href="#discount">Request a Discount</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="landing">
        <div class="about">
            <h2>Welcome to Elzero World!</h2>
            <p>Here I'm gonna share everything about my life: books I read, games I play, stories and events.</p>
        </div>
        <div class="image"><img src="imgs/landing-image.png" alt=""></div>
        <a class="down" href="#articles"><i class="fas fa-angle-double-down fa-2x"></i></a>
    </div>
    <div class="articles" id="articles">
        <div class="container">
            <h3 class="special-heading">articles</h3>
            <div class="boxes">
                <div class="box">
                    <img src="imgs/art1.jpg" alt="">
                    <div class="description">
                        <span class="title">test title</span>
                        <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dolore quas officia quae. Aliquid quis consequuntur reprehenderit accusantium minus. Perspiciatis, ratione itaque libero labore enim similique! Neque vel magni optio?</p>
                        <hr>
                        <div class="more">
                            <a href=""><span>read more</span><i class="fa-solid fa-arrow-right-long"></i></a>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <img src="imgs/art2.jpg" alt="">
                    <div class="description">
                        <span class="title">test title</span>
                        <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dolore quas officia quae. Aliquid quis consequuntur reprehenderit accusantium minus. Perspiciatis, ratione itaque libero labore enim similique! Neque vel magni optio?</p>
                        <hr>
                        <div class="more">
                            <a href=""><span>read more</span><i class="fa-solid fa-arrow-right-long"></i></a>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <img src="imgs/art3.jpg" alt="">
                    <div class="description">
                        <span class="title">test title</span>
                        <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dolore quas officia quae. Aliquid quis consequuntur reprehenderit accusantium minus. Perspiciatis, ratione itaque libero labore enim similique! Neque vel magni optio?</p>
                        <hr>
                        <div class="more">
                            <a href=""><span>read more</span><i class="fa-solid fa-arrow-right-long"></i></a>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <img src="imgs/art4.jpg" alt="">
                    <div class="description">
                        <span class="title">test title</span>
                        <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dolore quas officia quae. Aliquid quis consequuntur reprehenderit accusantium minus. Perspiciatis, ratione itaque libero labore enim similique! Neque vel magni optio?</p>
                        <hr>
                        <div class="more">
                            <a href=""><span>read more</span><i class="fa-solid fa-arrow-right-long"></i></a>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <img src="imgs/art5.jpg" alt="">
                    <div class="description">
                        <span class="title">test title</span>
                        <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dolore quas officia quae. Aliquid quis consequuntur reprehenderit accusantium minus. Perspiciatis, ratione itaque libero labore enim similique! Neque vel magni optio?</p>
                        <hr>
                        <div class="more">
                            <a href=""><span>read more</span><i class="fa-solid fa-arrow-right-long"></i></a>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <img src="imgs/art6.jpg" alt="">
                    <div class="description">
                        <span class="title">test title</span>
                        <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dolore quas officia quae. Aliquid quis consequuntur reprehenderit accusantium minus. Perspiciatis, ratione itaque libero labore enim similique! Neque vel magni optio?</p>
                        <hr>
                        <div class="more">
                            <a href=""><span>read more</span><i class="fa-solid fa-arrow-right-long"></i></a>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <img src="imgs/art7.jpg" alt="">
                    <div class="description">
                        <span class="title">test title</span>
                        <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dolore quas officia quae. Aliquid quis consequuntur reprehenderit accusantium minus. Perspiciatis, ratione itaque libero labore enim similique! Neque vel magni optio?</p>
                        <hr>
                        <div class="more">
                            <a href=""><span>read more</span><i class="fa-solid fa-arrow-right-long"></i></a>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <img src="imgs/art8.jpg" alt="">
                    <div class="description">
                        <span class="title">test title</span>
                        <p class="info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dolore quas officia quae. Aliquid quis consequuntur reprehenderit accusantium minus. Perspiciatis, ratione itaque libero labore enim similique! Neque vel magni optio?</p>
                        <hr>
                        <div class="more">
                            <a href=""><span>read more</span><i class="fa-solid fa-arrow-right-long"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gallery" id="gallery">
        <div class="container">
            <h3 class="special-heading">gallery</h3>
            <div class="boxes">
                <div class="box"><img src="./imgs/gal8.jpg" alt=""></div>
                <div class="box"><img src="./imgs/gal3.jpg" alt=""></div>
                <div class="box"><img src="./imgs/gal12.jpg" alt=""></div>
                <div class="box"><img src="./imgs/gal13.jpg" alt=""></div>
                <div class="box"><img src="./imgs/gal4.jpg" alt=""></div>
                <div class="box"><img src="./imgs/gal14.jpg" alt=""></div>
                <div class="box"><img src="./imgs/gal9.jpg" alt=""></div>
                <div class="box"><img src="./imgs/gal11.jpg" alt=""></div>
                <div class="box"><img src="./imgs/gal17.jpg" alt=""></div>
                <div class="box"><img src="./imgs/gal16.jpg" alt=""></div>
                <div class="box"><img src="./imgs/gal18.jpg" alt=""></div>
                <div class="box"><img src="./imgs/gal5.jpg" alt=""></div>
            </div>
        </div>
    </div>
    <div class="features" id="features">
        <div class="container">
            <h3 class="special-heading">features</h3>
        </div>
    </div>
    <!-- <div class="testmonials" id="testmonials">
        <div class="container">
            <h3 class="special-heading">testmonials</h3>
        </div>
    </div>
    <div class="members" id="members">
        <div class="container">
            <h3 class="special-heading">team members</h3>
        </div>
    </div>
    <div class="services" id="services">
        <div class="container">
            <h3 class="special-heading">services</h3>
        </div>
    </div>
    <div class="skills" id="skills">
        <div class="container">
            <h3 class="special-heading">our skills</h3>
        </div>
    </div>
    <div class="how" id="how">
        <div class="container">
            <h3 class="special-heading">how it works ?</h3>
        </div>
    </div>
    <div class="events" id="events">
        <div class="container">
            <h3 class="special-heading">latest events</h3>
        </div>
    </div>
    <div class="pricing" id="pricing">
        <div class="container">
            <h3 class="special-heading">pricing plans</h3>
        </div>
    </div>
    <div class="videos" id="videos">
        <div class="container">
            <h3 class="special-heading">top videos</h3>
        </div>
    </div>
    <div class="stats" id="stats">
        <div class="container">
            <h3>Our Awesome Statistics</h3>
        </div>
    </div>
    <div class="discount" id="discount">
        <div class="container">
            <h3>We have a Discount</h3>
        </div>
    </div> -->
</body>
</html>