<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet">
    <title>Elzero | Template three</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <a href="#" class="logo">Elzero</a>
            <ul class="ul-reset main-nav">
                <li><a href="#articles">Articles</a></li>
                <li><a href="#gallery">Gallery</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="">Other Links</a></li>
            </ul>
            <div class="mega-menu">
                <div class="image">
                    <img src="imgs/megamenu.png" alt="">
                </div>
                <ul class="ul-reset sub-nav">
                    <li><i class="far fa-comments fa-fw"></i><a href="#testimonials">Testimonials</a></li>
                    <li><i class="far fa-user fa-fw"></i><a href="#members">Team Members</a></li>
                    <li><i class="far fa-building fa-fw"></i><a href="#services">Services</a></li>
                    <li><i class="far fa-check-circle fa-fw"></i><a href="#skills">Our Skills</a></li>
                    <li><i class="far fa-clipboard fa-fw"></i><a href="#how">How it works ?</a></li>
                    <li><i class="far fa-calendar-alt fa-fw"></i><a href="#events">Latest Events</a></li>
                    <li><i class="fas fa-server fa-fw"></i><a href="#pricing">Pricing Plans</a></li>
                    <li><i class="far fa-play-circle fa-fw"></i><a href="#videos">Top Videos</a></li>
                    <li><i class="far fa-chart-bar fa-fw"></i><a href="#stats">Stats</a></li>
                    <li><i class="fas fa-percent fa-fw"></i><a href="#discount">Request a Discount</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="landing">
        
    </div>
</body>
</html>